$coloresSecciones:
(
    colorIndex: linear-gradient(to left, #12cdd4, #B0F6F8),
    colorBoxeo: linear-gradient(to left, #FFB11B, #DDE8FF),
    colorMMA: linear-gradient(to left, #9486F1, #DFFFFF),
    colorRunning: linear-gradient(to left, #F875A5, #FFFAFF),
    colorCrossFit: linear-gradient(to left, #27FF70, #FFE9F7)
);