* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a, .restofooter a, .logo .restofooter a, .restofooter .logo a, nav ul li .restofooter a, .restofooter nav ul li a, nav ul li .logo .restofooter a, .restofooter nav ul li .logo a, .logo nav ul li .restofooter a, .restofooter .logo nav ul li a, .logo nav ul li .logo .restofooter a, .restofooter .logo nav ul li .logo a, .redes .restofooter a, .restofooter .redes a, .logo .redes .restofooter a, .restofooter .logo .redes a, .redes .logo .restofooter a, .restofooter .redes .logo a, nav ul li .redes .restofooter a, .restofooter nav ul li .redes a, .redes nav ul li .restofooter a, .restofooter .redes nav ul li a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a, .redes a, .redes .restofooter a, .restofooter .redes a, .redes .logo .restofooter a, .logo .restofooter .redes a, .redes .restofooter .logo a, .restofooter .logo .redes a, .redes nav ul li .restofooter a, nav ul li .restofooter .redes a, .redes .restofooter nav ul li a, .restofooter nav ul li .redes a, .redes nav ul li .logo .restofooter a, nav ul li .logo .restofooter .redes a, .redes .restofooter nav ul li .logo a, .restofooter nav ul li .logo .redes a, .redes .logo nav ul li .restofooter a, .logo nav ul li .restofooter .redes a, .redes .restofooter .logo nav ul li a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .logo .restofooter a, .logo nav ul li .logo .restofooter .redes a, .redes .restofooter .logo nav ul li .logo a, .restofooter .logo nav ul li .logo .redes a, .redes .restofooter a, .restofooter .redes a, .logo .redes .restofooter a, .restofooter .logo .redes a, .redes .logo .restofooter a, .restofooter .redes .logo a, nav ul li .redes .restofooter a, .restofooter nav ul li .redes a, .redes nav ul li .restofooter a, .restofooter .redes nav ul li a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a, nav ul li a, nav ul li .restofooter a, .restofooter nav ul li a, nav ul li .logo .restofooter a, .logo .restofooter nav ul li a, nav ul li .restofooter .logo a, .restofooter .logo nav ul li a, nav ul li .restofooter a, .restofooter nav ul li a, nav ul li .logo .restofooter a, .restofooter nav ul li .logo a, .logo nav ul li .restofooter a, .restofooter .logo nav ul li a, .logo nav ul li .logo .restofooter a, .restofooter .logo nav ul li .logo a, nav ul li .redes .restofooter a, .redes .restofooter nav ul li a, nav ul li .restofooter .redes a, .restofooter .redes nav ul li a, nav ul li .logo .redes .restofooter a, .logo .redes .restofooter nav ul li a, nav ul li .restofooter .logo .redes a, .restofooter .logo .redes nav ul li a, nav ul li .redes .logo .restofooter a, .redes .logo .restofooter nav ul li a, nav ul li .restofooter .redes .logo a, .restofooter .redes .logo nav ul li a, nav ul li .redes .restofooter a, .restofooter nav ul li .redes a, .redes nav ul li .restofooter a, .restofooter .redes nav ul li a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a, .logo a, .logo .restofooter a, .restofooter .logo a, .logo .restofooter a, .restofooter .logo a, .logo nav ul li .restofooter a, nav ul li .restofooter .logo a, .logo .restofooter nav ul li a, .restofooter nav ul li .logo a, nav ul li .logo .restofooter a, .restofooter nav ul li .logo a, .logo nav ul li .restofooter a, .restofooter .logo nav ul li a, .logo nav ul li .logo .restofooter a, .restofooter .logo nav ul li .logo a, .logo .redes .restofooter a, .redes .restofooter .logo a, .logo .restofooter .redes a, .restofooter .redes .logo a, .logo .redes .restofooter a, .restofooter .logo .redes a, .redes .logo .restofooter a, .restofooter .redes .logo a, .logo nav ul li .redes .restofooter a, nav ul li .redes .restofooter .logo a, .logo .restofooter nav ul li .redes a, .restofooter nav ul li .redes .logo a, .logo .redes nav ul li .restofooter a, .redes nav ul li .restofooter .logo a, .logo .restofooter .redes nav ul li a, .restofooter .redes nav ul li .logo a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 120px;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 30px;
  font-size: 30px;
}
.logo a {
  font-size: 20px;
}

.position {
  position: fixed;
}

.imagenesTamanio {
  margin-top: 1.5rem;
  max-width: 150px;
  max-height: 150px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 1001;
  background-image: linear-gradient(to left, #12cdd4, #B0F6F8);
  border-radius: 15px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 30px 0 0;
  padding-left: 0;
  height: 100%;
  z-index: 100;
  flex-wrap: wrap;
}
nav ul li a, nav ul li .restofooter a, .restofooter nav ul li a, nav ul li .logo .restofooter a, .logo .restofooter nav ul li a, nav ul li .restofooter .logo a, .restofooter .logo nav ul li a, nav ul li .restofooter a, .restofooter nav ul li a, nav ul li .logo .restofooter a, .restofooter nav ul li .logo a, .logo nav ul li .restofooter a, .restofooter .logo nav ul li a, .logo nav ul li .logo .restofooter a, .restofooter .logo nav ul li .logo a, nav ul li .redes .restofooter a, .redes .restofooter nav ul li a, nav ul li .restofooter .redes a, .restofooter .redes nav ul li a, nav ul li .logo .redes .restofooter a, .logo .redes .restofooter nav ul li a, nav ul li .restofooter .logo .redes a, .restofooter .logo .redes nav ul li a, nav ul li .redes .logo .restofooter a, .redes .logo .restofooter nav ul li a, nav ul li .restofooter .redes .logo a, .restofooter .redes .logo nav ul li a, nav ul li .redes .restofooter a, .restofooter nav ul li .redes a, .redes nav ul li .restofooter a, .restofooter .redes nav ul li a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a, nav ul li .redes a, nav ul li .redes .restofooter a, .restofooter nav ul li .redes a, nav ul li .redes .logo .restofooter a, .logo .restofooter nav ul li .redes a, nav ul li .redes .restofooter .logo a, .restofooter .logo nav ul li .redes a, nav ul li .redes .restofooter a, nav ul li .restofooter .redes a, .restofooter nav ul li .redes a, nav ul li .redes .logo .restofooter a, nav ul li .logo .restofooter .redes a, .restofooter nav ul li .redes .logo a, .restofooter nav ul li .logo .redes a, .logo nav ul li .redes .restofooter a, .logo nav ul li .restofooter .redes a, .restofooter .logo nav ul li .redes a, .logo nav ul li .redes .logo .restofooter a, .logo nav ul li .logo .restofooter .redes a, .restofooter .logo nav ul li .redes .logo a, .restofooter .logo nav ul li .logo .redes a, nav ul li .redes .restofooter a, nav ul li .restofooter .redes a, .restofooter nav ul li .redes a, nav ul li .logo .redes .restofooter a, .logo nav ul li .redes .restofooter a, nav ul li .restofooter .logo .redes a, .restofooter .logo nav ul li .redes a, nav ul li .redes .logo .restofooter a, nav ul li .restofooter .redes .logo a, .restofooter nav ul li .redes .logo a, nav ul li .redes .restofooter a, .restofooter nav ul li .redes a, .redes nav ul li .redes .restofooter a, .redes nav ul li .restofooter .redes a, .restofooter .redes nav ul li .redes a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .redes .logo .restofooter a, .redes nav ul li .logo .restofooter .redes a, .restofooter .redes nav ul li .redes .logo a, .restofooter .redes nav ul li .logo .redes a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .redes .restofooter a, .redes .logo nav ul li .restofooter .redes a, .restofooter .redes .logo nav ul li .redes a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .redes .logo .restofooter a, .redes .logo nav ul li .logo .restofooter .redes a, .restofooter .redes .logo nav ul li .redes .logo a, .restofooter .redes .logo nav ul li .logo .redes a, .redes nav ul li a, .redes nav ul li .restofooter a, .restofooter .redes nav ul li a, .redes nav ul li .logo .restofooter a, .logo .restofooter .redes nav ul li a, .redes nav ul li .restofooter .logo a, .restofooter .logo .redes nav ul li a, .redes nav ul li .restofooter a, .redes .restofooter nav ul li a, .restofooter .redes nav ul li a, .redes nav ul li .logo .restofooter a, .redes .restofooter nav ul li .logo a, .restofooter .redes nav ul li .logo a, .redes .logo nav ul li .restofooter a, .logo .redes nav ul li .restofooter a, .redes .restofooter .logo nav ul li a, .restofooter .logo .redes nav ul li a, .redes .logo nav ul li .logo .restofooter a, .logo .redes nav ul li .logo .restofooter a, .redes .restofooter .logo nav ul li .logo a, .restofooter .logo .redes nav ul li .logo a, .redes nav ul li .restofooter a, .redes .restofooter nav ul li a, .restofooter .redes nav ul li a, .logo .redes nav ul li .restofooter a, .logo .redes .restofooter nav ul li a, .restofooter .logo .redes nav ul li a, .redes nav ul li .logo .restofooter a, .redes .logo .restofooter nav ul li a, .restofooter .redes nav ul li .logo a, .restofooter .redes .logo nav ul li a, .redes nav ul li .redes .restofooter a, .redes .restofooter nav ul li .redes a, .restofooter .redes nav ul li .redes a, .redes nav ul li .restofooter a, .restofooter .redes nav ul li a, .redes nav ul li .logo .redes .restofooter a, .redes .restofooter nav ul li .logo .redes a, .restofooter .redes nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .redes .logo nav ul li .redes .restofooter a, .logo .redes nav ul li .redes .restofooter a, .redes .restofooter .logo nav ul li .redes a, .restofooter .logo .redes nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .redes .logo nav ul li .logo .redes .restofooter a, .logo .redes nav ul li .logo .redes .restofooter a, .redes .restofooter .logo nav ul li .logo .redes a, .restofooter .logo .redes nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a, nav ul li .logo a, nav ul li .logo .restofooter a, .restofooter nav ul li .logo a, nav ul li .logo .restofooter a, nav ul li .restofooter .logo a, .restofooter nav ul li .logo a, nav ul li .logo .restofooter a, nav ul li .restofooter .logo a, .restofooter nav ul li .logo a, nav ul li .logo .restofooter a, .restofooter nav ul li .logo a, .logo nav ul li .logo .restofooter a, .logo nav ul li .restofooter .logo a, .restofooter .logo nav ul li .logo a, .logo nav ul li .logo .restofooter a, .restofooter .logo nav ul li .logo a, nav ul li .logo .redes .restofooter a, .redes .restofooter nav ul li .logo a, nav ul li .logo .restofooter .redes a, .restofooter .redes nav ul li .logo a, nav ul li .logo .redes .restofooter a, nav ul li .restofooter .logo .redes a, .restofooter nav ul li .logo .redes a, nav ul li .redes .logo .restofooter a, .redes nav ul li .logo .restofooter a, nav ul li .restofooter .redes .logo a, .restofooter .redes nav ul li .logo a, nav ul li .logo .redes .restofooter a, nav ul li .redes .restofooter .logo a, .restofooter nav ul li .logo .redes a, .restofooter nav ul li .redes .logo a, .redes nav ul li .logo .restofooter a, .redes nav ul li .restofooter .logo a, .restofooter .redes nav ul li .logo a, nav ul li .logo .redes .restofooter a, .restofooter nav ul li .logo .redes a, .redes nav ul li .logo .restofooter a, .restofooter .redes nav ul li .logo a, .logo nav ul li .logo .redes .restofooter a, .logo nav ul li .redes .restofooter .logo a, .restofooter .logo nav ul li .logo .redes a, .restofooter .logo nav ul li .redes .logo a, .redes .logo nav ul li .logo .restofooter a, .redes .logo nav ul li .restofooter .logo a, .restofooter .redes .logo nav ul li .logo a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a, .logo nav ul li a, .logo nav ul li .restofooter a, .restofooter .logo nav ul li a, .logo nav ul li .restofooter a, .logo .restofooter nav ul li a, .restofooter .logo nav ul li a, .logo nav ul li .restofooter a, .logo .restofooter nav ul li a, .restofooter .logo nav ul li a, .logo nav ul li .logo .restofooter a, .logo .restofooter nav ul li .logo a, .restofooter .logo nav ul li .logo a, .logo nav ul li .restofooter a, .restofooter .logo nav ul li a, .logo nav ul li .logo .restofooter a, .restofooter .logo nav ul li .logo a, .logo nav ul li .redes .restofooter a, .redes .restofooter .logo nav ul li a, .logo nav ul li .restofooter .redes a, .restofooter .redes .logo nav ul li a, .logo nav ul li .redes .restofooter a, .logo .redes .restofooter nav ul li a, .restofooter .logo nav ul li .redes a, .restofooter .logo .redes nav ul li a, .redes .logo nav ul li .restofooter a, .redes .logo .restofooter nav ul li a, .restofooter .redes .logo nav ul li a, .logo nav ul li .redes .restofooter a, .logo .restofooter nav ul li .redes a, .restofooter .logo nav ul li .redes a, .logo .redes nav ul li .restofooter a, .redes .logo nav ul li .restofooter a, .logo .restofooter .redes nav ul li a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .logo .restofooter nav ul li .logo .redes a, .restofooter .logo nav ul li .logo .redes a, .logo .redes nav ul li .logo .restofooter a, .redes .logo nav ul li .logo .restofooter a, .logo .restofooter .redes nav ul li .logo a, .restofooter .redes .logo nav ul li .logo a, .logo nav ul li .redes .restofooter a, .restofooter .logo nav ul li .redes a, .redes .logo nav ul li .restofooter a, .restofooter .redes .logo nav ul li a, .logo nav ul li .logo .redes .restofooter a, .restofooter .logo nav ul li .logo .redes a, .redes .logo nav ul li .logo .restofooter a, .restofooter .redes .logo nav ul li .logo a {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 15px;
}
nav ul li .animacion {
  display: inline-block;
  list-style: none;
  transition: all;
}
nav ul li .animacion:hover {
  transform: translateY(-5px);
  color: black;
}

main ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 30px 0 0;
  padding-left: 0;
  height: 100%;
  z-index: 100;
  position: center;
}

.contenedor {
  width: 75%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.contenedor .tarjeta {
  width: 330px;
  height: 430px;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.contenedor .tarjeta img {
  width: 330 px;
  height: 220 px;
}
.contenedor .tarjeta h5 {
  font-weight: 600;
}
.contenedor .tarjeta h6 {
  font-weight: 600;
}
.contenedor .tarjeta p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.contenedor .tarjeta button {
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  font-weight: 600;
  transition: all;
}
.contenedor .tarjeta button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 2px rgba(31, 38, 135, 0.37);
}
.contenedor .tarjeta:hover {
  transform: translateY(-15px);
}

footer {
  background-image: linear-gradient(to left, #12cdd4, #B0F6F8);
  border-radius: 15px;
}

.botones {
  color: black;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  font-weight: 600;
  transition: all;
}
.botones:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 2px rgba(31, 38, 135, 0.37);
}

.formulario {
  text-align: center;
  background-color: #e6e6e6;
}
.formulario .formato {
  transition: all;
  border-radius: 5px;
  border: 0;
}
.formulario .formato:focus {
  transform: scale(1.04);
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.redes a {
  padding: 15px;
  transition: all;
}
.redes a:hover {
  transform: translateY(-2px);
}

.restofooter {
  display: flex;
  justify-content: center;
  text-align: center;
}
.restofooter li {
  transform: all;
}
.restofooter li:hover {
  transform: translateY(-2px);
}
.margenes {
  margin: 30px;
  padding: 30px;
  background-color: white;
}

.relleno {
  background-color: #e6e6e6;
}

.fildsetborder {
  border: solid;
  border-radius: 20px;
  border-color: #e6e6e6;
  padding: 20px;
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
}

.fondoDiv {
  border-radius: 20px;
  background-color: #e6e6e6;
}
.fondoDiv h2 {
  margin: 10px;
}
.fondoDiv p {
  margin: 10px;
}

#navMma {
  background-image: linear-gradient(to left, #9486F1, #DFFFFF);
}

#footMma {
  background-image: linear-gradient(to left, #9486F1, #DFFFFF);
}

#navCrossFit {
  background-image: linear-gradient(to left, #27FF70, #FFE9F7);
}

#footCrossFit {
  background-image: linear-gradient(to left, #27FF70, #FFE9F7);
}

#navRunning {
  background-image: linear-gradient(to left, #F875A5, #FFFAFF);
}

#footRunning {
  background-image: linear-gradient(to left, #F875A5, #FFFAFF);
}

#navBoxeo {
  background-image: linear-gradient(to left, #FFB11B, #DDE8FF);
}

#footBoxeo {
  background-image: linear-gradient(to left, #FFB11B, #DDE8FF);
}

#fondo {
  background-image: linear-gradient(to left, #12cdd4, #B0F6F8);
}

#boxeo .contenedor .tarjeta {
  box-shadow: 0 2px 2px rgba(255, 177, 27, 0.5);
}
#boxeo .contenedor .tarjeta button {
  color: black;
  background-image: linear-gradient(to left, #FFB11B, #DDE8FF);
}
#boxeo .contenedor .tarjeta:hover {
  box-shadow: 0 2px 2px rgb(255, 177, 27);
}

#mma .contenedor .tarjeta {
  box-shadow: 0 2px 2px rgba(148, 134, 241, 0.5);
}
#mma .contenedor .tarjeta button {
  color: black;
  background-image: linear-gradient(to left, #9486F1, #DFFFFF);
}
#mma .contenedor .tarjeta:hover {
  box-shadow: 0 2px 2px rgb(148, 134, 241);
}

#running .contenedor .tarjeta {
  box-shadow: 0 2px 2px rgba(248, 117, 165, 0.5);
}
#running .contenedor .tarjeta button {
  color: black;
  background-image: linear-gradient(to left, #F875A5, #FFFAFF);
}
#running .contenedor .tarjeta:hover {
  box-shadow: 0 2px 2px rgb(248, 117, 165);
}

#inicio .contenedor .tarjeta {
  box-shadow: 0 2px 2px rgba(18, 205, 212, 0.5);
}
#inicio .contenedor .tarjeta button {
  color: black;
  background-image: linear-gradient(to left, #12cdd4, #B0F6F8);
}
#inicio .contenedor .tarjeta:hover {
  box-shadow: 0 2px 2px rgb(18, 205, 212);
}

#crossFit .contenedor .tarjeta {
  box-shadow: 0 2px 2px rgba(39, 255, 112, 0.5);
}
#crossFit .contenedor .tarjeta button {
  color: black;
  background-image: linear-gradient(to left, #27FF70, #FFE9F7);
}
#crossFit .contenedor .tarjeta:hover {
  box-shadow: 0 2px 2px rgb(39, 255, 112);
}

.responsive {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
@media (max-width: 1200px) {
  .responsive {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 700px) {
  .responsive {
    grid-template-columns: 100%;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */