*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}
ul
{
    list-style: none;
}
header
{
    width: 100%;
    height: 120px;
}
@import "_variables.scss";
@import "_mixins.scss";
.logo
{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 30px;
    font-size: 30px;
    a
    {
        @extend a;
        font-size: 20px;
    }
}
.position
{
    position: fixed;
}
nav
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    z-index: 1001;
    background-image: map-get($coloresSecciones, colorIndex );
    border-radius: 15px;
    ul 
    {
        @include lista;
        flex-wrap: wrap;
        li
        {
            a
            {
                @extend a;
                font-size: 14px;
                text-transform: uppercase;
                padding-left: 15px;
            }
            .animacion
            {
                display: inline-block;
                list-style: none;
                transition: all;
                &:hover
                {
                    transform: translateY(-5px);
                    color: black;
                }
            }
        }
    }
}
main
{
    ul
    {
        @include lista;
        position: center;
    }
}
@import "_tarjetas.scss";
footer
{
    background-image: map-get($coloresSecciones ,colorIndex ); 
    border-radius: 15px;
}
.botones
{
    padding: 10px;
    border-width: 0;
    border-radius: 5px;
    font-weight: 600;
    transition: all;
    &:hover
    {
        transform: translateY(-5px);
        box-shadow: 0 2px 2px rgba( 31, 38, 135, 0.37);
    }
}
.formulario
{
    text-align: center;
    background-color: #e6e6e6;
    .formato
    {
        transition: all;
        border-radius: 5px;
        border: 0;
        text-align: center;
        &:focus
        {
            transform: scale(1.04);
        }
    }    
}
.redes
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    a
    {
        @extend a;
        padding: 15px;
        transition: all;
        &:hover
        {
            transform: translateY(-2px);
        }

    }
}
.restofooter
{
    display: flex; 
    justify-content: center; 
    text-align: center;
    li
    {
        transform: all;
        &:hover
        {
            transform: translateY(-2px);
        } 
    }
    a
    {
        @extend a;
    }

}
.margenes
{
    margin: 30px;
    padding: 30px;
    background-color: white;
}
.relleno
{
    background-color: #e6e6e6;
}
.fildsetborder
{
    border: solid;
    border-radius: 20px;
    border-color: #e6e6e6;
    padding: 20px;
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
}
.fondoDiv
{
    border-radius: 20px;
    background-color: #e6e6e6;
    h2
    {
        margin: 10px;
    }
    p
    {
        margin: 10px;
    }
}
#navMma
{
    background-image: map-get($coloresSecciones, colorMMA);
}
#footMma
{
    background-image: map-get($coloresSecciones, colorMMA);
}
#navCrossFit 
{
    background-image: map-get($coloresSecciones,colorCrossFit);
}
#footCrossFit
{
    background-image: map-get($coloresSecciones,colorCrossFit);
}
#navRunning 
{
    background-image: map-get($coloresSecciones,colorRunning);
}
#footRunning
{
    background-image: map-get($coloresSecciones,colorRunning);
}
#navBoxeo
{
    background-image: map-get($coloresSecciones,colorBoxeo);
}
#footBoxeo
{
    background-image: map-get($coloresSecciones,colorBoxeo);
}
#fondo
{
    background-image: map-get($coloresSecciones,colorIndex);
}
#boxeo 
{
    .contenedor
    { 
        .tarjeta
        {
            box-shadow: 0 2px 2px rgba(255,177,27,0.5);
            button
            {
                background-image: map-get($coloresSecciones,colorBoxeo);
            }
            &:hover
            {
                box-shadow: 0 2px 2px rgba(255,177,27,1);
            }
        }
    }
}       
#mma
{ 
    .contenedor
    {
        .tarjeta
        {
            box-shadow: 0 2px 2px rgba(148,134,241,0.5);
            button
            {
                background-image: map-get($coloresSecciones, colorMMA);
            }
            &:hover
            {
                box-shadow: 0 2px 2px rgba(148,134,241,1);
            }
        }
    }
}
#running
{
    .contenedor
    {
        .tarjeta
        {
            box-shadow: 0 2px 2px rgba(248,117,165,0.5);
            button
            {
                background-image: map-get($coloresSecciones,colorRunning);
            }
            &:hover
            {
                box-shadow: 0 2px 2px rgba(248,117,165,1);
            }
        }
    }
}
#inicio
{
    .contenedor
    {
        .tarjeta
        {
            box-shadow: 0 2px 2px rgba(18,205,212,0.5);
            button
            {
                background-image: map-get($coloresSecciones,colorIndex);
            }
            &:hover
            {
                box-shadow: 0 2px 2px rgba(18,205,212,1);
            }
        }
    }
}
#crossFit
{
    .contenedor
    {
        .tarjeta
        {
            box-shadow: 0 2px 2px rgba(39,255,112,0.5);
            button
            {
                background-image: map-get($coloresSecciones,colorCrossFit);
            }
            &:hover
            {
                box-shadow: 0 2px 2px rgba(39,255,112,1);
            }
        }
    }
}

